*~
/row.pdf
/optional.pdf
/sample-top-left.pdf
/issue-14-guess-terminal-type.nosuchterminal
/issue-14-guess-terminal-type.pdf
/issue-14-guess-terminal-type.svg
/issue-14-guess-terminal-type.png
/maintain-order-of-gp-setup.png
/maintain-order-of-sets-unsets-issue-21.png
/issue-10-multi-using.png
/issue-10-no-using.png
/issue-8.png
/multiplot-with-data-producing-functions.png
/multiplot.png
/nostdout.pdf
/sample.pdf
/splot.pdf
/plot-data.png
/plot-function.png
